div.svgplottopdiv { position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 0;
                    flex-shrink: 0;
                    min-width: 0;
                    min-height: 0;
                  }
div.svgplotdiv { min-width: 0;
                 min-height: 0;
                 display: flex;
                 flex-direction: row;
                 flex-grow: 0;
                 flex-shrink: 0; }

svg.svgplotsvg { display: block;
                 flex-grow: 1;
                 flex-shrink: 1;
                 min-width: 0;
                 min-height: 0;
               }

div.svgplotbuttonbox { display: flex;
                       flex-direction: row;
                       min-width: 0;
                       min-height: 0;
                       margin-right: auto;
                       margin-left: 0;
                     }
div.svgplotdocbox { display: flex;
                    flex-direction: row;
                    min-width: 0;
                    min-height: 0;
                    margin-left: auto;
                    margin-right: 0;
                  }

div.svgplothbox { display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  min-width: 0;
                  min-height: 0;
                  margin-top: 0.5ex;
                  margin-bottom: 0.5ex;
                }
div.svgplotvbox { display: flex;
                  flex-direction: column;
                  min-width: 0;
                  min-height: 0; }
